body{
     background-image:linear-gradient(to right,rgb(178, 234, 234),rgb(225, 245, 244));
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.landingpg-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    text-align:center;
    gap: 12px;
}

.loginBtn, .signupBtn{
     padding: 15px 30px;
     width: 220px;
     font-size: 18px;
     border-radius: 18px;
     border:none;
     cursor:pointer;
     transition: all 0.2 ease;
     background-color: rgb(108, 174, 231);
}

.loginBtn:hover, .signupBtn:hover{
     transform:scale(1.05);
     opacity:0.9;
}

.landingpg-logo{
     color:rgb(74, 147, 224);
     font-family: Georgia, 'Times New Roman', Times, serif;
}